.category{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 280px;
    max-width: 1200px;
}

.category div {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: 150px;
    align-items: center;
    margin-top: 4px;
}

.category h2 {
    padding-block: 1rem;
}